#map {
    height: 100vh;
    margin-left: 0;
    padding-left: 0;
}

body {
    overflow-y: hidden;
    font-size: 2vw;
}

h1 {
    font-size: 7.5vw;
}
.s1, .s2 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.s1 {
    background-color: green !important;
    border-color: green !important;
}

.s2 {
    background-color: orange !important;
    border-color: orange !important;
}

.btn-primary {
    background-color: #00a9f3;
    border-color: #00a9f3;
}

#similar-results {
    margin-bottom: 30px;
}

.icon{
    height: 1.2rem;
    width: 1.2rem
}
.tick text
{
    transform: translate(0, -5px);
}
#filter {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 45vh;
    overflow-y: scroll;
}

.info {
    top: 20px;
    font-size: 20px;
}

#gemeente-values{
    max-height: 45vh;
    overflow-y: scroll;
}

/*td {*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/

hr {
    width: 100%;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.svg-icon {
    display: inline-flex;
    align-self: center;
}
.svg-icon svg {
    height:1em;
    width:1em;
}
.svg-icon.svg-baseline svg {
    top: .125em;
    position: relative;
}

.value-cell {
    min-width: 8rem;
}

#side-panel {
    font-size: 11px;
    width: 100%;
}

.badge {
    font-size: 100%;
}

.row {
    margin: 0;
}

.component-switch {
    margin-right: 15px;
}

.highlighted-similar {
    border-color: #E66100 !important;
    border-width: 2px;
    margin-left: 10px;
    margin-bottom: 8px;
}