/* Place of the map-part of the webpage */
#map {
    height: 100vh;
    margin-left: 0;
    padding-left: 0;
}

/* Applies to the entire body of the webpage */
body {
    overflow-y: hidden;
    font-size: 2vw;
}

/* Style of heading h1 */
h1 {
    font-size: 7.5vw;
}
.s1, .s2 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.s1 {
    background-color: green !important;
    border-color: green !important;
}

.s2 {
    background-color: orange !important;
    border-color: orange !important;
}
/* Style of the primary button (predefined by Bootstrap) */
.btn-primary {
    background-color: #00a9f3;
    border-color: #00a9f3;
}

/* Place of results of municipalities that are similar to the one selected */
#similar-results {
    margin-bottom: 30px;
}

.icon{
    height: 1.2rem;
    width: 1.2rem
}
.tick text
{
    transform: translate(0, -5px);
}
/* Style of sliders */
#filter {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 50vh;
/*    overflow-y: scroll;*/
}

/* Style of the 'info'-block */
.info {
    top: 20px;
    font-size: 20px;
}

/* Part of the 'info'-block where values of the municipality are shown */
#gemeente-values{
    max-height: 50vh;
    overflow-y: scroll;
}

/*td {*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/

hr {
    width: 100%;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* SVG = Scalable Vector Graphics, these styles are used for the sliders */
.svg-icon {
    display: inline-flex;
    align-self: center;
}
.svg-icon svg {
    height:1em;
    width:1em;
}
.svg-icon.svg-baseline svg {
    top: .125em;
    position: relative;
}

.value-cell {
    min-width: 8rem;
}

/* the side-panel is the part of the webpage next to the map */
#side-panel {
    font-size: 12px;
    width: 100%;
}

.badge {
    font-size: 100%;
}

.row {
    margin: 0;
}

.component-switch {
    margin-right: 15px;
}

/* Styles municipalities that are similar to the one that is selected */
.highlighted-similar {
    border-color: #E66100 !important;
    border-width: 2px;
    margin-left: 10px;
    margin-bottom: 8px;
}
 /* Style of the legend */
.legend {
    background: #ffffff;
    line-height: 12px;
    font-size: 12px;
    color: #000000;
}

/* Style of the colors of the legend */
.legend colorBlocks {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
