html, body {
      font-family: sans-serif;
      width: 100%;
      margin: 0px;
}

#map {
      position: absolute;
      top:0;
      bottom:0;
      width:100%;
      height:100%;
}

.keychip {
    padding-left: 4px;
    border-left: 14px solid
    #333;
    border-left-color: rgb(51, 51, 51);
    margin-top: 1px;
}

#legenda{
    min-height: 210px;
}

.mapboxgl-popup{
    background-color: black;
    opacity: 1;
}

.overlay button {
 min-width: 150px;
}


.overlay select {
    min-width: 150px;
   }
